body{
    font-family: 'Courier New', Courier, monospace;
}
.index-heading {
    color: rgb(108, 91, 70);
    background-color:rgb(243, 196, 143);
    padding: 4px;
    margin: 3px auto;
    width: 280px;
    text-align: center;
    border: 0px black solid;
    border-radius: 10px;
}
.author {
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}
.recipe-box {
    border: solid black 0px;
    border-radius: 10px;
    background-color: rgb(249, 232, 212);
    margin: 40px auto;
    width: 800px;
    padding: 15px;
}


.main-image {
    width: 800px;
    height: auto;
    border: 0px black solid;
    border-radius: 10px;
} 



.items {
    display: inline-block;
    width: 240px;
    height: 300px;
    background-color: rgb(243, 196, 143);
    border: 0px solid black;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;

}